# apiVersion: v1
# kind: Pod
# metadata:
#   name: services
#   labels:
#     name: services
# spec:
#   hostNetwork: true
#   containers:
#     - name: service1
#       image: gcr.io/yamf-188415/service1
#       env:
#         - name: "YAMF_REGISTRY_URL"
#           value: "35.196.159.8:10000" # TODO kubernetes config map (create config map from literal values)
#     - name: service2
#       image: gcr.io/yamf-188415/service2
#       env:
#         - name: "YAMF_REGISTRY_URL"
#           value: "35.196.159.8:10000"
#     - name: service3
#       image: gcr.io/yamf-188415/service3
#       env:
#         - name: "YAMF_REGISTRY_URL"
#           value: "35.196.159.8:10000"
# ---
apiVersion: apps/v1beta2 # for versions before 1.8.0 use apps/v1beta1
kind: Deployment
metadata:
  name: services
  labels:
    name: services
spec:
  replicas: 2
  selector:
    matchLabels:
      name: services
  template:
    metadata:
      labels:
        name: services
    spec:
      hostNetwork: true
      containers:
        - name: service1
          image: gcr.io/yamf-188415/service1
          env:
            - name: "YAMF_REGISTRY_URL"
              valueFrom:
              configMapKeyRef:
                name: yamf
                key: serviceRegistryHost
        - name: service2
          image: gcr.io/yamf-188415/service2
          env:
            - name: "YAMF_REGISTRY_URL"
              valueFrom:
              configMapKeyRef:
                name: yamf
                key: serviceRegistryHost
        - name: service3
          image: gcr.io/yamf-188415/service3
          env:
            - name: "YAMF_REGISTRY_URL"
              valueFrom:
              configMapKeyRef:
                name: yamf
                key: serviceRegistryHost
